<div class="row">
    <div class="col">
        <button type="submit" class="btn form-control" style="background:#C63D96 ; color:white;border:none"> Crear Registro</button>
    </div>
    &nbsp;
    <div class="col">
        <a asp-action="Index" class="btn form-control" style="background:#EE3A4F ; color:white;border:none"> Volver atrás</a>
    </div>
</div>