@model CRMEsar.Models.ViewModels.CrudEntidades.InfoUser.infoUserVM
@{
    ViewData["Title"] = "Mis notificaciones";
}

<!-- Columna correo contraseña -->
<div class="card shadow-none" style="border:none">
    <div class="card-body">
        <hr />
        <div class="table-responsive">
            <table id="TblContenido" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th> Nombre tabla afectada </th>
                        <th> ¿Accion exitosa? </th>
                        <th> Respuesta </th>
                        <th> Fecha de creación </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var n in Model.logs)
                    {
                        <tr>
                            <td>@n.NombreTabla</td>
                            <td>@(n.exitoso ? "Si" : "No")</td>
                            <td>@n.respuesta</td>
                            <td>@n.fechaCreacion</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
        }